.env
.env.*
!.env.example

.ipynb_checkpoints/
*.ipynb_checkpoints
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
ENV/

spark-warehouse/
metastore_db/
derby.log
*.log
*.jar
!postgresql-*.jar
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*~

.DS_Store
Thumbs.db

pagila_data/